<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('products_list') }}">Produits</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
                <h1>Bienvenue sur ElectroShop : votre destination pour les meilleurs appareils électroniques</h1>
                <p>Découvrez notre large gamme de produits électroniques : smartphones, ordinateurs portables, casques audio, et bien plus encore !</p>
                <a href="{{ path('products_list') }}" class="btn">Voir nos produits</a>
            {% endblock %}
        </div>
    </main>

    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>
</body>
</html>
