{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>
    {% if products is empty %}
        <p>Aucun produit disponible.</p>
    {% else %}
        <ul>
            {% for product in products %}
                <li>
                    <a href="{{ path('product_detail', {'id': product.id}) }}">
                        {{ product.name }} - {{ product.price }} €
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
